<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('head'); -%>
		<title>Socbay - <%=t('title.aboutus')%>
		</title>
</head>

<body>

	<!-- Header Start -->
	<header class="header clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="back_link">
						<a href="/" class="hde151">Back To Socbay.io</a>
						<a href="/" class="hde152">Back</a>
					</div>
					<div class="ml_item">
						<div class="main_logo main_logo15" id="logo">
							<a href="index.html"><img src="/images/logo/v3/socbay-135x32.svg" alt=""></a>
							<a href="index.html"><img class="logo-inverse"
									src="/images/logo/v3/socbay-135x32-inverse.svg" alt=""></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586 _new89">
		<div class="_215cd2">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title129 mt-35 mb-35">
							<h2>Decentralized video sharing platform</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="_215td5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title589 text-center">
							<h2>Socbay</h2>

							<img class="line-title" src="images/line.svg" alt="">
						</div>
					</div>
					<div class="col-lg-4  col-sm-6">
						<div class="feature125">
							<i class="uil uil-mobile-android-alt"></i>
							<h4>Free censorship</h4>
						</div>
					</div>
					<div class="col-lg-4  col-sm-6">
						<div class="feature125">
							<i class="uil uil-users-alt"></i>
							<h4>Open source</h4>
						</div>
					</div>
					<div class="col-lg-4  col-sm-6">
						<div class="feature125">
							<i class="uil uil-award"></i>
							<h4>Non profit</h4>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="_215zd5">
			<div class="container">
				<div class="row">
					<div class="">
						<div class="title478">
							<h2>Our Story</h2>
							<img class="line-title" src="images/line.svg" alt="">
							<p>We experienced multiple protocols of distributed content sharing such as bitTorrent,
								IPFS, Lbry,... The idea of distributed storage is interessting but the content would
								disappear if there are not nodes that keep them. Many distributed networks come to
								resolve that issue such as Crust Network, Filecoin, Sia, Storj,... but the show case is
								still very limited, public audience is not aware of such networks. People get attention
								to these names just for "investment" (in other word: speculation) purpose. We believes
								that distributed storage is in very early stage and it will be much more popular in the
								future since people is now aware of censorship they got from centralized platforms.
								Socbay.io is an easy-to-understand show case for distributed network.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('footer'); -%>

	</div>
	<!-- Body End -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script src="/owlcarousel/owl.carousel.min.js"></script>

	<script src="/js/custom.js"></script>
	<script src="/js/night-mode.js"></script>
</body>

</html>