<!DOCTYPE html>
<html lang="en">

    <%- include('head'); -%>

<body>
	
	<!-- Header Start -->
	<header class="header clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="back_link">
						<a href="/" class="hde151">Back To Socbay.io</a>
						<a href="/" class="hde152">Back</a>
					</div>
					<div class="ml_item">
						<div class="main_logo main_logo15" id="logo">
							<a href="index.html"><img src="/images/socbay-135x32.svg" alt=""></a>
							<a href="index.html"><img class="logo-inverse" src="/images/socbay-135x32-inverse.svg" alt=""></a>
						</div>				
					</div>				
				
				</div>		
			</div>
		</div>
	</header>
	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586 _new89">		
		<div class="_215cd2">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">						
						<div class="title129 mt-35 mb-35">
							<h2>Decentralized video sharing platform</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="_215td5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title589 text-center">
							<h2>Socbay</h2>
							
							<img class="line-title" src="images/line.svg" alt="">
						</div>
					</div>
					<div class="col-lg-4  col-sm-6">
						<div class="feature125">
							<i class="uil uil-mobile-android-alt"></i>
							<h4>Free censorship</h4>
							<p>Quisque nec volutpat sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						</div>
					</div>
					<div class="col-lg-4  col-sm-6">
						<div class="feature125">
							<i class="uil uil-users-alt"></i>
							<h4>Open source</h4>
							<p>Quisque nec volutpat sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						</div>
					</div>
					<div class="col-lg-4  col-sm-6">
						<div class="feature125">
							<i class="uil uil-award"></i>
							<h4>Non profit</h4>
							<p>Quisque nec volutpat sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="_215zd5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="title478">
							<h2>Our Story</h2>
							<img class="line-title" src="images/line.svg" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur vel dolor id ultrices. Proin a magna at mi pretium pulvinar in eu enim. Nulla vel lacus lectus. Donec at venenatis augue. Nam vitae purus placerat, hendrerit nisl id, finibus magna. Etiam pharetra gravida ornare. Donec sagittis, ipsum in egestas egestas, dui lorem sollicitudin justo, ut ullamcorper velit neque eu velit. Ut et fringilla elit. Mauris augue augue, auctor a blandit ac, convallis eget neque. Curabitur in ante ante. Nullam laoreet tempus erat at ornare. In nisl nisi, dapibus eget facilisis sit amet, commodo quis nibh.</p >
						</div>
					</div>
					<div class="col-md-6">
						<div class="story125">
							<img src="images/about/stroy_img.png" alt="">
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<%- include('footer'); -%>
		
	</div>
	<!-- Body End -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script src="/owlcarousel/owl.carousel.min.js"></script>
	
	<script src="/js/custom.js"></script>	
	<script src="/js/night-mode.js"></script>
</body>
</html>