<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>Socbay.io - Error 404</title>
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="/images/fav.png">
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,700,500'>
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
		<link rel="stylesheet" href="/css/vertical-responsive-menu.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/responsive.css">
		
		<!-- Vendor Stylesheets -->
		<link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.css" />
		<link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css" />
		<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

	</head> 

<body class="coming_soon_style">
	
	<!-- Body Start -->
	<div class="wrapper coming_soon_wrapper">		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cmtk_group">
						<div class="ct-logo">
							<a href="/"><img src="/images/socbay-135x32-inverse.svg" alt=""></a>
						</div>
						<div class="cmtk_dt">
							<h1 class="title_404">404</h1>
							<h4 class="thnk_title1">The page you were looking for could not be found.</h4>
							<a href="/" class="bk_btn">Go To Homepage</a>
						</div>
						<div class="tc_footer_main">
							<div class="tc_footer_left">
								<ul>
									<li><a href="about_us.html">About</a></li>
									<li><a href="press.html">Press</a></li>
									<li><a href="contact_us.html">Contact Us</a></li>
									<li><a href="coming_soon.html">Advertise</a></li>
									<li><a href="coming_soon.html">Developers</a></li>
									<li><a href="terms_of_use.html">Copyright</a></li>
									<li><a href="terms_of_use.html">Privacy Policy</a></li>
									<li><a href="terms_of_use.html">Terms</a></li>
								</ul>						
							</div>
							<div class="tc_footer_right">
								<p>© 2021 <strong>Socbay.io</strong>. All Rights Reserved.</p>
							</div>
						</div>
					</div> 	
				</div>	
			</div>	
		</div>		
	</div>	
	<!-- Body End -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	
	<script src="/owlcarousel/owl.carousel.min.js"></script>
	<script src="/js/custom.js"></script>
	
</body>
</html>