<footer class="footer mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer_bottm">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="fotb_left">
                                <li>
                                    <a href="/">
                                        <div class="footer_logo">
                                            <img src="/images/socbay-icon.svg" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>© 2021 <strong>Socbay.io</strong>. All Rights Reserved.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 buttons-footer">
                            <div class="edu_social_links">
                                <!-- <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a> -->
                                <a href="https://t.me/joinchat/qpieC89FW5tiZTZk" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                            </div>
                            <div class="lng_btn">
								<div class="ui language bottom right pointing dropdown floating" id="languages" data-content="Select Language">
									<a href="#"><i class='uil uil-globe lft'></i>Language<i class='uil uil-angle-down rgt'></i></a>
									<div class="menu">
										<div class="scrolling menu">
											<a href="?lng=en" class="item" data-percent="100" data-value="en" data-english="English">
												<span class="description">English</span>
												English
                                            </a>
											<a href="?lng=vi" class="item" data-percent="6" data-value="vi" data-english="Vietnamese">
												<span class="description">tiếng Việt</span>
												Vietnamese
                                            </a>								
										</div>
									</div>
								</div>
							</div>
                            
                        </div>		
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>