<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-4">
<div class="item">
    <div class="fcrse_1 mb-20">
        <a href="video" class="fcrse_img">
            <img src="images/courses/img-1.jpg" alt="">
            <div class="course-overlay">
                <div class="badge_seller">TRENDING</div>
                <span class="play_btn1"><i class="uil uil-play"></i></span>
                <div class="crse_timer">
                    25 hours
                </div>
            </div>
        </a>
        <div class="fcrse_content">
            <div class="vdtodt">
                <span class="vdt14">1M views</span>
                <span class="vdt14">15 days ago</span>
            </div>
            <a href="video" class="crse14s">Chau Tinh Tri - Truong Hoc Uy Long</a>
        </div>
    </div>
</div>
</div>