<!-- Left Sidebar Start -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu" >
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/" class="menu--link active" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>

                <li class="menu--item">
                    <a href="/explore" class="menu--link disabled" title="Explore">
                        <i class='uil uil-search menu--icon'></i>
                        <span class="menu--label">Explore</span>
                    </a>
                </li>
                <li class="menu--item menu--item__has_sub_menu">
                    <label class="menu--link" title="Categories">
                        <i class='uil uil-layers menu--icon'></i>
                        <span class="menu--label">Categories</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Gaming</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Tech</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Finance 2.0</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#.html" class="sub_menu--link">Crypto News</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">News</a>
                        </li>
                    
                      
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Lifestyle</a>
                        </li>
         
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Health & Fitness</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Music</a>
                        </li>
             
                    </ul>
                </li>

                <li class="menu--item">
                    <a href="savedVideo" class="menu--link disabled" title="Saved Videos">
                        <i class="uil uil-heart-alt menu--icon"></i>
                        <span class="menu--label">Saved Videos</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="left_section">
            <h6 class="left_title">SUBSCRIPTIONS (In Dev.)</h6>
            
            <ul>
<!--                 <li class="menu--item">
                    <a href="/user/userId" class="menu--link user_img disabled">
                        <img src="/images/left-imgs/img-1.jpg" alt="">
                        Rock Smith
                        <div class="alrt_dot"></div>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/user/userId" class="menu--link user_img disabled">
                        <img src="/images/left-imgs/img-2.jpg" alt="">
                        Jassica William
                    </a>
                    <div class="alrt_dot"></div>
                </li> -->
                <li class="menu--item">
                    <a href="/mySubscriptions" class="menu--link disabled" title="Browse Instructors">
                        <i class='uil uil-plus-circle menu--icon'></i>
                        <span class="menu--label">All subscriptions</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a href="/setting" class="menu--link disabled" title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Setting</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/help" class="menu--link disabled" title="Help">
                        <i class='uil uil-question-circle menu--icon'></i>
                        <span class="menu--label">Help</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/feedback" class="menu--link disabled" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Send Feedback</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_footer">
            <ul>
                <li><a href="/aboutus">About</a></li>
                <li><a href="/press" class="disabled">Press</a></li>
                <li><a href="/contactus" class="disabled">Contact Us</a></li>
                
                <li><a href="/coming_soon" class="disabled">Career</a></li>
                <li><a href="/terms_of_use" class="disabled">Privacy Policy</a></li>
            </ul>
            <div class="left_footer_content">
                <p>© 2021 <strong>Crust Live</strong>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</nav>
<!-- Left Sidebar End -->