<div class="section3125">
    <h4 class="item_title">Live Streams</h4>
    <a href="live_streams.html" class="see150">See all</a>
    <div class="la5lo1">
        <div class="owl-carousel live_stream owl-theme">
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-1.jpg" alt="">
                        <h4>John Doe</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-2.jpg" alt="">
                        <h4>Jassica</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-9.jpg" alt="">
                        <h4>Edututs+</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-3.jpg" alt="">
                        <h4>Joginder Singh</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-4.jpg" alt="">
                        <h4>Zoena</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-5.jpg" alt="">
                        <h4>Albert Dua</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-6.jpg" alt="">
                        <h4>Ridhima</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-7.jpg" alt="">
                        <h4>Amritpal</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="stream_1">
                    <a href="live_output.html" class="stream_bg">
                        <img src="images/left-imgs/img-8.jpg" alt="">
                        <h4>Jimmy</h4>
                        <p>live<span></span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>