<!-- Modal content -->
<div class="modalDemoWeb">
    <div class="modalContent">
        <div class="header__modal">
            Notification
        </div>
        <div class="body__modal">
            Welcome to Socbay.io !
            <br />
            <br />
            We're announcing that the website is in the development process.
            <br />
            For the next release we're going to add more features to provide the best services possible.
            <br />
            <br />
            If you have any feedback on the changes to the website, please contact us by sending emails to <a
                href="mailto:socbaynetwork@gmail.com" title="Contact us">socbaynetwork@gmail.com</a>
            <br />
            <br />
            Thank you for your time.
            <br />
            <br />
            Socbay dev team.
        </div>
    </div>
    <div class="modalDemoBg"></div>
</div>