<!doctype html>
<html lang="en">
    <%- include('head'); -%>
    <style>
        .sub1, .sub2 { display: none; }

        :checked ~ .sub1, :checked ~ .sub2 {
            display: block;
            
            
        }
    </style>
  <body>
    


    <div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row justify-content-md-center">
					<div class="col-lg-8 col-md-10">
						<div class="section3125 stream_tabs">
						
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="add-straming" role="tabpanel">
									<div class="add_stream_content">
										
										<form action="/video/60924cb9f3c4935d114fa20d/report" method="POST" enctype="multipart/form-data">
											<div class="live_form">
												
                                                <div>
                                                    <input type="radio" name="reporttype" value="sexual" id="A"/>
                                                    <label for="A">Sexual content</label>
                                                    <div class="sub1">
                                                        <div class="group-form">
                                                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name='sexual'>
                                                                <option value="notselected">Choose one</option>
                                                                <option value="1">Graphic sexual activity</option>
                                                                <option value="2">Nudity</option>
                                                                <option value="3">Suggestive but without nudity</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="radio" name="reporttype" value="copyright" id="B"/>
                                                    <label for="B">Ingringes my rights</label>
                                                    <div class="sub1">
                                                        <div class="group-form">
                                                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name='copyright'>
                                                                <option value="4">Choose one</option>
                                                                <option value="5">Copyright issue</option>
                                                                <option value="6">Privacy issue</option>
                                                                <option value="7">Trademark infringement</option>
                                                                <option value="8">Defamation</option>
                                                                <option value="9">Counterfeit</option>
                                                                <option value="10">Other legal issue</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="radio" name="reporttype" value="other" id="C"/>
                                                    <label for="C">Other reasons</label>
                                                    <div class="sub1">
                                                        <div class="ui search focus mt-15">	
                                                            <div class="ui form swdh30">
                                                                <div class="field">
                                                                    <textarea rows="5" name="other" id="id_answer" placeholder="Short description"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
										
												<button class="_145d1" type="submit">Send</button>

											</div>
										</form>

									</div>
								</div>
							
							</div>							
						</div>							
					</div>								
				</div>
			</div>
		</div>

	</div>

    	<!-- Body End -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	
	<script src="/js/vertical-responsive-menu.min.js"></script>
	<script src="/owlcarousel/owl.carousel.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/night-mode.js"></script>








  </body>
</html>