<!-- Report Video content -->
<div class="reportVideo">
    <div class="reportVideoMain">
        <form>
            <div class="reportContent">
                <p>Report Video</p>
                <input class="radioBtn" type="radio" name="reportCode" value="rpCode_A"> <%=t('reportVideo.reportA')%>
                <br/>
                <input class="radioBtn" type="radio" name="reportCode" value="rpCode_B"> <%=t('reportVideo.reportB')%>
                <br/>
                <input class="radioBtn" type="radio" name="reportCode" value="rpCode_C"> <%=t('reportVideo.reportC')%>
                <br/>
                <p>Descriptions</p>
                <textarea type="text" name="descriptions" multiple id="descriptions" rows="7"></textarea>
            </div>
            <div class="reportBtns">
                <button class="general-btn" id="cancelBtn">Cancel</button>
                <button class="general-btn" id="sendBtn">Send</button>
            </div>
        </form>
    </div>
    <div class="reportVideoBg"></div>
</div>