<!-- Report Video content -->
<div class="reportVideo">
    <div class="reportedVideoMain">
        <div class="reportedContent">
            <p>Notification</p>
            <div class="reportedMessage">
                Thank you for your feedback for the video.
            </div>
        </div>
    </div>
    <div class="reportVideoMain">
        <form>
            <div class="reportContent">
                <p><%=t('reportVideo.caption')%></p>
                <div id="reportNotif">*Please choose your option</div>
                <div class="repReason">
                    <input type="radio" name="reportCode" value="sexual" id="A"/>
                    <label for="A">Sexual content</label>
                    <div>
                        <div>
                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name='sexual'>
                                <option value="notselected">Choose one</option>
                                <option value="1">Graphic sexual activity</option>
                                <option value="2">Nudity</option>
                                <option value="3">Suggestive but without nudity</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="repReason">
                    <input type="radio" name="reportCode" value="copyright" id="B"/>
                    <label for="B">Ingringes my rights</label>
                    <div>
                        <div>
                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name='copyright'>
                                <option value="notselected">Choose one</option>
                                <option value="1">Copyright issue</option>
                                <option value="2">Privacy issue</option>
                                <option value="3">Trademark infringement</option>
                                <option value="4">Defamation</option>
                                <option value="5">Counterfeit</option>
                                <option value="6">Other legal issue</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="repReason">
                    <input type="radio" name="reportCode" value="other" id="C"/>
                    <label for="C">Other</label>
                    <div class="ui form swdh30">
                        <textarea class="other" rows="1" name="other" id="otherReason" placeholder="Other reason"></textarea>
                    </div>
                </div>
                <p><%=t('reportVideo.descriptions')%></p>
                <div class="ui form swdh30">
                    <textarea rows="5" name="other" id="reportDesc" placeholder="Describe the reason why you report video..."></textarea>
                </div>
            </div>
            <div class="reportBtns">
                <button class="general-btn" id="cancelBtn"><%=t('button.cancel')%></button>
                <button class="general-btn" id="sendBtn"><%=t('button.send')%></button>
            </div>
        </form>
    </div>
    
    <div class="reportVideoBg"></div>
</div>