<!-- Report Video content -->
<div class="reportVideo">
    <div class="reportVideoContent">
        <form>
            <div class="reportExcusion">
                Report Video
                <br/>
                <input class="radioBtn" type="radio" name="gender" value="male"> Excuse 1<br>
                <input class="radioBtn" type="radio" name="gender" value="female"> Excuse 2<br>
                <input class="radioBtn" type="radio" name="gender" value="other"> Excuse 3
            </div>
            <div class="reportBtns">
                <button>Cancel</button>
                <button>Next</button>
            </div>
        </form>
    </div>
    <div class="reportVideoBg"></div>
</div>