/* Modal Background */
.modalDemoBg {
    z-index: 999;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: black;
}

.modalDemoWeb {
    z-index: 999;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: black;
}

/* Modal Content */
.modalContent {
    z-index: 1000;
    top: 100px;
    padding-top: 10px;
    padding-bottom: 50px;
    position: absolute;
    background-color: white;
    margin: auto;
    width: 40%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .modalContent {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .modalContent {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .modalContent {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .modalContent {
        width: 90%;
    }
}

/* Modal Header */
.modalContent .header__modal {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: white;
    justify-content: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

/* Modal Body */
.modalContent .body__modal {
    padding: 20px;
    border-top: 1px solid black;
}

.modalContent .body__modal a {
    color: #00aaff;
}

/* Modal Footer */
.modalContent .footer__modal {
    background-color: white;
    justify-content: center;
}

.disable_model_btn {
    position: absolute;
    right: 10px;
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 20px;
}
.disable_model_btn:hover {
    background-color: red;
}
.disable_model_btn:active {
    position: relative;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
